.page {
    text-align: center;
    margin-bottom: 3%;
}

.title {
    font-size: 4em;
}

.body {
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 24px;
    border-bottom: 2px solid white;
}

.paragraph {
    margin-top: 8px;
    margin-bottom: 8px;
}

.options {
    display: inline-block;
}

.option {
    font-size: 28px;
    cursor: pointer;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    border-radius: 20px;
    transition: 0.2s;
}

.option:hover {
    color: black;
    background-color: rgba(255, 255, 255, 1.0);
}