.page {
    text-align: center;
}

.title {
    font-size: 48px;
}

.body {
    text-align: justify;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
}

.options {
    display: inline-block;
}

.option {
    font-size: 28px;
    cursor: pointer;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    border-radius: 20px;
    transition: 0.2s;
}

.option:hover {
    color: black;
    background-color: rgba(255, 255, 255, 1.0);
}