.stats {
    margin-top: 1%;
    text-align: right;
    font-size: 28px;
}

.stats img {
    margin-left: 8px;
    margin-bottom: 4px;
}

.credits-icon {
    margin-left: 12px !important;
    margin-right: 4px;
}