.body, .title, .options, h3 {
    text-align: center;
}

.title {
    font-size: 48px;
}

.body {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
}

.options {
    font-size: 28px;
}